{% extends "base.html" %}

{% block content %}
<br />
<div id="chart_div"></div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script>
  google.charts.load('current', {packages: ['corechart', 'line']});
  google.charts.setOnLoadCallback(drawBasic);

  function drawBasic() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'X');
      data.addColumn('number', 'All fields');
      data.addColumn('number', 'Food');
      data.addColumn('number', 'Shelter');
      data.addColumn('number', 'Transportation');

      data.addRows({{ data | safe }});

      var options = {
        chart: {
          title: 'Consumer Price Indexes',
          subtitle: 'monthly, seasonally adjusted'
        },
        hAxis: {
          title: 'Month'
        },
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
  }
  </script>
{% endblock javascript %}
